body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #333;
    background-color: #fff;
    width: 800px;
}

div.container {

}

.cover-image {
    width: 310px;
    float: left;
}

div.reviews {
    float: left;
    margin-left: 20px;
    width: 450px;
    margin-top: -40px;

}

.stars {
    font-weight: bold;
}

.timestamp {
    font-style: italic;
    margin: 0;
}

.review {
    border-left: 5px solid #eeeeee;
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.review:hover {
    background-color: #dcdcdc;
}

.nav {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    font-size: 14px;
    -webkit-padding-start: 0;
}

.nav li {
    display: inline-block;
    padding: 10px 20px;
}

.nav li:active {
    background-color: #e7e7e7;
}

#author {
    font-size: 14px;
}