body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #333;
    background-color: #fff;
}

div.container {

}

.cover-image {
    width: 310px;
    float: left;
}

div.reviews {
    float: left;
    margin-left: 20px;
    width: 450px;
    margin-top: -40px;

}